@import url(./fonts.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.link{
   text-decoration: none;
   margin-right: 90px;
   font-family: "Work regular";
   color: black;
}
.link_name{
    margin-right: 30px;
    text-decoration: none;
    font-family: "work regular";
    color: black;
    
}




li{
 list-style: none;
    
}



.navbar_header_nav{
    width: 100%;
    height: 72px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FEFCF8;

}

.list{
    display: flex;
    margin-top: 20px;
   text-decoration: none;
   transform: translateX(350px);

}

.registr{
    display: flex;
    align-items: center;
    transform: translateX(300px);

}


.sign_button{
    width: 150px;
    height: 40px;
    top: 16px;
    left: 1020px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Work regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.36000001430511475px;
text-align: center;
box-shadow: 6px 6px black;

    

}



#image_name{
    width: 100%;
    height: 80vh;
}


.header_section_one{
    display: flex;

}

#image_name{
    z-index: -1;
    position: absolute;
}


.the_span{


font-family: "roboto regular";
font-size: 157px;
font-weight: 400;
line-height: 156px;
letter-spacing: 5.199999809265137px;
margin-top: 20px;




}

#w_image{
 width: 120px;
height: 120px;
top: 93px;
left: 922px;
gap: 0px;
opacity: 0px;
border-radius: 50%;

}


.image_two_couple{
    width: 120px;
    height: 300px;
    
    display: flex;
    flex-direction: column;
   transform: translate(-200px,-80px);
    
}

#w_image:last-child{
    margin-top: 60px;
   
}

#w_image:first-of-type{
   transform: translateX(-60px);
   
}

.container_header{
    width: 1500px;
    margin: auto;
    
    
}

.the_span_two{
  margin-left: 360px;
}

.header_name{
    width: 100%;
    height: 80vh;
    margin-top: 120px;
   
}

.the_span{
    
}

.header_section_two{
    display: flex;
    
    margin-top: 60px;
    transform: translateX(-0px);
   
}

.best_span{
    font-family: "work regular";
    font-size: 30px;
    line-height: 36px;
}


.best_span{
    margin-left: 140px;
    line-height: 40px;
   
}

.best_place{
    display: flex;
    margin-top: 50px;
    
}

.input_name{
    margin-left:182px;
    width: 600px;
    height: 54px;
}


.explore_button{
    width: 218px;
    height: 54px;
    background-color: #EAFA35 ;
    color: black;
    text-align: center;
   

}

#h_image:first-of-type{
   
    
}
#h_image{
    width: 110px;
    height: 110px;

}

#h_image1{
    width: 130px;
    height: 130px;
    transform: translateY(-30px);

}



#h_image1{
   margin-left: 20px;
}



.main_container{
    width: 1300px;
    margin: auto;
   
}

.main_section_one{
width: 100%;
height: 716px;
background: #000000;


}
.add_two{
    padding-top: 160px;
}




.main_span{
    font-size: 56px;
    font-family: "Roboto regular";
    line-height: 67px;
    color: white;
    margin-left: 30px;
    

}
.main_section_part_one{
    width: 1080px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.main_input{
    width: 370px;
    height: 50px;
    border-radius: 12px;
    transform: translateX(-20px);
    background: #EAFA35;

}
.input_button_main_two{
   width: 320px;
   height: 50px;
   transform: translateX(240px);
   background-color: #EAFA35;
   color: black;
   font-size: 16px;
   font-family: "roboto regular";

}
.main_section_button_one{
    transform: translateY(-70px);
    
}

.input_button_main{
    font-size: 20px;
    width: 60px;
    height: 46px;
    border-radius: 15px;
    
}

.part_two_one{
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
   margin-top: 30px;
    color: white;
}

.main_section_part_two{
display: flex;
justify-content: space-between;
}

#one_image{
    width: 100px;
}

.apply_humans{
    font-size: 24px;
}
.app{
    font-size: 17px;
    line-height: 30px;
    font-family: "work regular";
}

.main_section_two{
    width: 100%;
    height: 800px;
    position: absolute;
}









.trending_jobs_one{
    width: 400px;
    height: 370px;

   
    border-radius: 5px;
    background-color: white;
    margin-left: 30px;

}

.jobs_span{
    font-family: "roboto regular";
    font-size: 60px;

}
.all_span{
    font-family: "roboto regular";
    font-size: 33px;
    margin-right: 60px;
    margin-top: 20px;

}
.main_section_two{
    width: 100%;
    background-color: #FEFCF8;
    z-index: -1;
    position: absolute;

}

.trending{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}

.breef_f{
    padding: 5px;
    background-color: #000000;
  
}

.breef_ch{
    padding: 25px;
}
.breef_b{
    padding: 20px;
}

.breef_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.breef{
    padding: 18px;
    border: 2px solid black;
    background-color: rgb(243, 216, 255);
    border-radius: 8px;
   
}
.product{
    margin-top: 18px;
    font-size: 30px;
    font-family: "work regular";
}

.york{
   font-size: 20px; 
   font-family: "work regular";
}
.active{
    font-size: 20px;
    margin-left: 10px;
    font-family: "work sans";
    
}
.apply{
    width: 260px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 8px 8px black;
    text-align: center;
    font-family: "roboto regular";
    margin-top: 20px;
}
.fa-heart{
    font-size: 30px;
    margin-right: 40px;
    margin-top: 40px;
}


.trending_jobs{
    display: flex;
    width: 100%;
}

.main_section_three{

}











/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#right{
    transform: translateY(-550px);
    margin-right: 50px;
}

.wrapper {

  width: 100%;
  position: relative;
}
.wrapper i {
  width: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
/* .wrapper i:first-child{
  left: -22px;
} */
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-left: 80px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 390px;
  width: 440px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  
  margin-top: 80px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}



.section_two_slider{
    
}

#right_left{
transform: translateY(-550px);
margin-right: 40px;
}




.culture_section{
    transform: translateY(1510px);
    width: 100%;
    height: 562px;
    position: absolute;
    
}
.find_culture{
    font-size: 40px;
    font-family: "roboto regular";
}





.wrapper_table{
    display: flex;
    
}

.section_name{
    width: 300px;

    font-size: 28px;
   padding: 16px;
    margin: 20px;
    border: 3px solid black;
    text-align: center;
    border-radius: 8px;
}

.culture_container{
    display: flex;
    width: 1200px;
    margin-left: 130px;
   
}

.find_culture{
    margin-left: 30px;
}




.collect_name{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: 70px;
 
}
.browse{
    font-size: 50px;
}

.name_card{
    width: 900px;
    height: 300px;
}

.card_led_couple{
    display: flex;
    padding: 80px;
}


.card{
    width: 550px;
    margin: 0px 30px;
    
}

.card-body{
    display: flex;
    justify-content: space-between;
}

.led_class{
    font-size: 30px;
    font-family: "roboto regular";
}

.willness{
    font-size: 20px;
    font-family: "work regular";
}

.pilus_name{
    font-size: 40px;
    padding: 10px 20px;
    border: 2px solid black;
    margin-right: 20px;
}


.started_image{
    background-color:#DACCFF ;
    padding: 20px;
    z-index: -2;
    width: 700px;
    height: 450px;
    margin-top: 50px;
    transform: translateX(150px);

}

#image_started{
    position: absolute;
    width: 630px;
    padding: 30px;
}

#image_started:last-of-type{
   padding-left: 60px;
   height: 420px;
}

.build_your{
    display: flex;
    width: 1200px;
    margin: auto;
    margin-top: 70px;
    padding-bottom: 60px;
   
 
}

.section_name_build{
    font-size: 40px;
    font-family: "work italic";
   
    transform: translateX(-130px);
}

.one_name{
    font-size: 15px;
    padding: 8px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    margin-right: 10px;
  
}
.section_name_build{
    padding: 15px;
    
}

.section_name_build:hover{
    border: 2px solid black;
    box-shadow: 3px 3px black;
    border-radius: 9px;
    .one_name{
        background: #EAFA35;
    }
 
}

.simple_text{
    font-size: 50px;
    text-align: center;
}



/* hdhhhdd */



.faqsCouple{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.faqs_couple{
    width: 1400px;
   
}

.faqs_text{
    transform: translate(900px);
    color: white;
    padding-top: 70px;
    padding-bottom: 30px;
  
}

.faqs_text_couple{
    width: 100%;
    height: 920px;
    background-color: black;
   
    
    
}

#headingTwo{ 
    padding: 20px;
  

   
   
}


.nnnn{
    color: white;
}

.one_stop{
    width: 100%;
    height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one_stop_name{
    font-size: 75px;
    font-family: "roboto regular";
   margin-top: 200px;
}

#one_stop_image{
    z-index: -1;
    position: absolute;
    width: 100%;
    background-size: cover;
}

.join_stop{
    font-size: 20px;
}

.start_free{
   width: 235px;
   padding: 10px;
   box-shadow: 4px 4px black;
   margin: 10px;
   
}
.start_free:hover{
    background-color: #EAFA35;
}

body{
    overflow-x: hidden;
}


.footer_text{
    font-size: 20px;
    font-family: "roboto regular";
    color: white;
   

}

.footer{
    width: 100%;
    height: 853px;
    background-color: #000000;
    transform: translateY(299px);
    margin: auto;
}

.container_footer{
   display: flex;
   
    margin: auto;
    padding-top: 80px;
    margin-left: 100px;
}

.footer_input{
    width: 350px;
    height: 50px;
    background-color: #000000;
    margin-top: 30px;
    margin-bottom: 47px;
}

.footer_button{
    width: 147px;
    height: 50px;
    text-align: center;
    background-color: #FEFCF8;
    color: black;
    font-family: "roboto regular";
}

.footer_icon{
    display: flex;
    
}
.angle_footer{
    width: 55px;
    height: 55px;
    border: 1px solid white;
    margin-right: 25px;
}


#breef_part_image{
width: 100%;
}





.footer_icon_x{
    font-size: 25px;
    border: 1px solid white;
    padding: 7px 14px ;
    margin-right: 25px;
    color: white;
    
}

.footer_icon_email{
    font-size: 25px;
    border: 1px solid white;
    padding: 7px 14px ;
    color: white;
    
}

.footer_couple_two{
    display: flex;
    margin-left: 300px;
     
}

.work{
    font-size: 20px;
    color: #D3D3D3;
    margin-right: 150px;
}

#parallel_image{
    width: 90%;
    height: 480px;
    margin-left: 100px;
    margin-top: 70px;
}

#image_tranding{
    width: 436px;
   transform: translateX(-32px);
}
.breef_part{
    transform: translateY(15px);
}